[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
tensorflow = "*"
h5py = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8.5"
